h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.byline{
	text-align: center;
	font-size: 24px;
}

.article-body{
	text-align: center;
	font-size: 16px;
	margin-left: 200px;
	margin-right: 200px;
	font-weight: 100;
}

img {
	max-height: 400px;
	margin-left: auto;	
	margin-right: auto;
	max-height: auto;
	max-width: auto;
	padding: 0px;
	display: table;
	margin-bottom: 0px;
	}

.photo-text{
	font-size: 14px;
	text-align: center;

}